<h1>New Donation</h1>

<table>
	<thead>
		<tr>
			<th colspan="3"></th>
		</tr>
	</thead>

	<tbody>
		<td><%= "first_name" %></td>
		<td><%= "last_name" %></td>
		<td><%= "email" %></td>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.first_name %></td>
				<td><%= user.last_name %></td>
				<td><%= user.email %></td>
				<td><%= link_to 'Show', user %></td>
			</tr>
		<% end %>
	</tbody>
</table>
