<!DOCTYPE html>
<html>
	<head>
		<title>ColegeFundMe</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<header>
	  		<% if current_user %>
	  			<%= link_to 'home', current_user.home_page_user %>
	  			<% if current_user.donor? %>
					<%= link_to 'add a child', parent_children_path %>
				<% elsif current_user.student? and !current_user.child? %>
					<%= link_to 'add a parent', parent_children_path %>		
				<% end %>
				Signed in as <strong><%= current_user.username %></strong>!
				<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to 'Login', new_user_session_path %>
			<% end %>
		</header>
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %> alert-dismissable">
					<%= value %>
				</div>
			<% end %>
		<%= yield %>
	</body>
</html>
